@model IEnumerable<string>

<vc:Header sub-heading="Admin Functions" />

Organization:
<select id="selectOrg" onchange="updateLinks()">
    @foreach (var organization in Model)
    {
        if (string.Equals(organization, SetCurrentOrganizationActionFilter.CurrentOrganization))
        {
            <option value="@organization" selected="true">@organization</option>
        }
        else
        {
            <option value="@organization">@organization</option>
        }
    }
</select>
<p />
<p>
    <a id="scheduleLink" title="Load Schedule for a Division"
        href="/Admin/LoadSchedule/@SetCurrentOrganizationActionFilter.CurrentOrganization">Load Schedule File</a>
</p>
<p>
    <a id="divisionLink" title="List of Divisions"
        href="/Admin/Divisions/@SetCurrentOrganizationActionFilter.CurrentOrganization">Edit Divisions</a>
</p>
<p></p>

<script>
    function updateLinks() {
        var selectedValue = $('#selectOrg').val();
        $('#divisionLink').attr('href', '/Admin/Divisions/' + selectedValue);
        $('#scheduleLink').attr('href', '/Admin/LoadSchedule/' + selectedValue);
        $('#organizationHeader').text(selectedValue);
    }
</script>